<div class="container">
  <h1>{{pageheader}}</h1>
  <h3>{{title}}</h3>
  <div class="card bg-primary text-light">
    <div class="card-body">
        {{# str }} user, mod_collaborate {{/ str }} {{firstname}} {{lastname}}<br />
        {{# str }} currentgrade, mod_collaborate {{/ str }} {{grade}}<br />
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body ">
        {{{submission}}}<br />
    </div>
  </div>
  <br />
</div>
